<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Voyages</h2>
          <ol>
            <li><a href="index.html">Accueil</a></li>
            <li>Voyages</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Voyages</h2>
              <p>Les voyages disponibles...</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-md-6 d-flex align-items-stretch mt-4"  *ngFor="let voyage of voyages">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4><a href="">{{voyage.nom}}</a></h4>
                  <p>{{voyage.description}}</p>
                  <div class="text-center">
                    <a routerLink="/reservation"  class="more-btn">Reservation<i class="bx bx-chevron-right"></i></a>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->



  </main><!-- End #main -->
